@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@300&family=Roboto:wght@500;700&family=Source+Code+Pro:ital@1&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.SignupContainer{
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  height: auto;
  padding: 1rem;
  margin: auto;
  margin-top: 5rem;
}

.SignupContainer form{
  width: 100%;
  height: 100%;
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 1rem;
}


.SignupContainer form input{
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid black;
  outline: none;
  border-radius: 0.2rem;
  width: 90%;
  
}

.SignupContainer form button{
  padding: 0.5rem 2rem;
  outline: none;
  border:none ;
  cursor: pointer;
}

.fill-fields-error{
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 0.2rem;
  transition: all 0.4s;
  
}

nav{
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li{
  list-style-type: none;
  display: inline;
  margin: 1rem;
  text-align: center;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: 900;

  padding: 0.2rem;
  border-radius: 0.2rem;
  

}
nav .nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a.active{
  background-color: white;
  color: black;


}