/* Base styles for Recipes component */
.Recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  margin-top: 7rem;
}

/* Style for each individual recipe card */
.Recipe {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); /* Three columns with 20px gap */
}

/* Style for recipe title */
.Recipe h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Style for recipe image */
.Recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Style for ingredients list */
.Recipe h3 {
  font-size: 16px;
  margin: 10px 0;
}

.Recipe ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 10px;
}

/* Style for instructions */
.Recipe p {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 10px;
}

/* Styling for regular links */
.Recipe a {
  color: #007bff; /* Default link color */
  text-decoration: none; /* Remove underlines */
  transition: color 0.3s ease; /* Smooth color transition on hover */
  margin-left: 1rem;
}




/* Style for delete button */
.delete-button {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
}

/* RecipeStyle.css */

/* Existing styles for other elements... */

.add-to-favorites-button {
  background-color: #007bff; /* Blue color, you can change this to your preferred color */
  color: #fff; /* Text color */
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-to-favorites-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.no-recipes{
  margin-top: 5rem;
}

/* Adjust the styles as needed to match your design preferences */


/* Responsive Styles */

/* For devices with a screen width between 320px and 480px */
@media (min-width: 320px) and (max-width: 768px) {
  .Recipes {
    gap: 10px; /* Adjust the gap as needed for smaller screens */
  }

  .Recipe {
    width: 100%; /* Make recipe cards occupy full width */
  }
}




/* For laptops and larger screens */
@media (min-width: 992px) {
  .Recipes {
    gap: 40px;
  }

  .Recipe {
    width: calc(33.33% - 40px); /* Three columns with 40px gap */
  }
}

/* For larger screens (adjust as needed) */
@media (min-width: 1200px) {
  .Recipes {
    gap: 50px;
  }

  .Recipe {
    width: calc(30% - 50px); /* Four columns with 50px gap */
  }
}


